*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #acacb1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #3b3b3b;
    width: 100%;
    margin: 0;
    position: fixed;
    top:0;
    padding: 0;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color:aqua;
    cursor: pointer;
}
header h1{
    /*background-color:rgb(58, 62, 62);*/
    color:#4747f0;
    margin-top:60px;
    font-size: 40px;
    font-weight: bold;
}
