.logoDiv{
    border: 6px solid rgb(red, green, blue);
    height: 60px;
}
.logoDiv img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
menu{
    border: 6pc solid;
}
menu ul{
    list-style-type: none;

}
.icons{
    border:6px solid rgb(red, green, blue);
    display: flex;
    gap: 2cm;9
}
.bag img, profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}