:root {
  /* navbar colors*/
  --navbar-background: #FFD6D6;
  --navbar-text-color: #8B0000;
  --search-box-background-color:#FFFFFF;
  --search-box-text-color: #000000;
  --search-box-border-color: #FFD6D5;
  /*body color*/
  --body-background:#F5F5F5;
  --text-color:#1A1A1A;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: var(--body-background);
  color:var(--text-color)
}
header {
  background: var(--navbar-background);
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar-logo img {
  width: 50px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.navbar-logo p {
  font-weight: bolder;
  font-family: Raleway;
  font-size: 20px;
  color: var(--navbar-text-color);
}
.navbar-logo span {
  text-transform: uppercase;
  color: #1A1A1A;
}
.search-box {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.search-box input {
  width: calc(100% - 30px);
  padding: 12px 20px;
  border: 1px solid var(--navbar-text-color);
  border-radius: 5px;
  box-sizing: border-box;
}
.search-box button {
  background-color: var(--search-box-background-color);
  color: var(--search-box-text-color);
  padding: 5px 15px;
  margin: 0 4px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.search-box button:hover {
  background-color: #e2495c;
  color: snow;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar-menu li {
  list-style: none;
  display: flex;
}
.navbar-menu li a {
  text-decoration: none;
  color: var(--navbar-text-color);
  padding: 10px 20px;
}
.navbar-menu li a:hover {
  color: #e2495c;
  cursor: pointer;
  transition: transform 0.3s;
  transform: translateY(5px);
}
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
    columns: 2;
    align-items: center;
    column-gap: 10px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-logo {
    margin-bottom: 10px;
  }
  .search-box {
    margin-top: 10px;
  }
  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-menu li {
    margin-bottom: 10px;
  }
}
/*main start now*/
.features{
    margin:0;
    padding:0;
    position: relative;
}
.featured-shoes,.new-products{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column: 1/4;
    gap:10px;
    margin:10px 30px;
}
.featured-shoes h2,.new-products h2{
    padding-bottom: 10px;
    font-weight: 900;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
.featured-shoes h2:hover,.new-products h2:hover{
  cursor: pointer;
}
.featured-shoes  img,.new-products img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.featured-shoes h3,.new-products h3{
    font-weight: bold;
    font-family: Raleway;
    font-size: large;
    text-align: center;
}
.featured-shoes p,.new-products p{
    font-family: Raleway;
    font-size: medium;
    text-align: center;
    color:#333333;
}
.featured-shoes h3:hover,.featured-shoes p:hover,.new-products h3:hover,.new-products p:hover{
  cursor: pointer;
}
button{
    width: 100%;
    height: 50px;
    padding:5px 0;
    margin:0;
    color:#000;
    background-color: #fff;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    grid-column: 1/4;
    grid-row: 4;
}
button:hover{
    background-color:var(--navbar-text-color);
    color:var(--search-box-background-color);
}
/* Media query for screen sizes 768px and below */
@media screen and (max-width: 768px) {
    .featured-shoes,.new-products {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns */
        grid-column: 1/3;
        margin: 5px; /* Adjust margin */
    }
    .featured-shoes img,.new-products img{
      width:100%;
    }
    .featured-shoes h2,.new-products h2{
      grid-column: 1/3;
      grid-row: 1;
    }

     button {
        grid-column: 1 / 3; /* Adjust button to span 2 columns */
        grid-row:8;
    }
}
.special-offer{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-column: 1/4;
  gap:10px;
  margin:10px 30px;
}
.special-offer h2{
  padding-bottom: 10px;
  font-weight: 900;
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
}
.special-offer h2:hover{
  cursor: pointer;
}
.special-offer img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.special-offer h3{
  font-weight: bold;
  font-family: Raleway;
  font-size: large;
  text-align: center;
}
.special-offer p{
  font-family: Raleway;
  font-size: medium;
  text-align: center;
  color:#333333;
}
.special-offer h3:hover,.special-offer p:hover{
  cursor: pointer;
}
button{
  width: 100%;
  height: 50px;
  padding:5px 0;
  margin:0;
  color:#000;
  background-color: #fff;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  grid-column: 1/4;
  grid-row: 4;
}
button:hover{
  background-color:var(--navbar-text-color);
  color:var(--search-box-background-color);
}
/* Media query for screen sizes 768px and below */
@media screen and (max-width: 768px) {
    .special-offer {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns */
        grid-column: 1/3;
        margin: 5px; /* Adjust margin */
    }
    .special-offer img{
      width:100%;
    }
    .special-offer h2{
      grid-column: 1/3;
      grid-row: 1;
    }

     button {
        grid-column: 1 / 3; /* Adjust button to span 2 columns */
        grid-row:8;
    }
}
footer{
  background-color: var(--navbar-background);
  color: var(--navbar-text-color);
  padding: 10px;
  margin: 0;
}
.footer{
  display:inline-block; 
}
.footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links ul li{
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.footer-links ul li a{
  text-decoration: none;
  color: var(--navbar-text-color);
}
.footer-links ul li a:hover{
  cursor: pointer;
  transition: transform 0.3s;
  transform: translateY(5px);
}
.footer-social{
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-social ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
}
.footer-social ul li{
  padding: 10px;
  margin: 0 10px;
  text-align: center;
}
.footer-social ul li a{
  text-decoration: none;
  color:#000000;
}
.footer-social ul li a:hover{
  cursor: pointer;
  transition: transform 0.3s;
  transform: translateY(5px);
}
.footer-social p{
  text-align: center;
  padding: 10px;
}
