*{
  box-sizing:box-border;

}
body{
  background-color:#fff;
  }
#navbar{
  float:left;
  width:30%;
  display:block;
  
}
#navbar header{
  font-style:normal;
  font-weight:bold;
  font-size:20px;
  margin:0 auto;
  color:#000;
}
#navbar ul{
  list-style:none;
}
#navbar ul li{
  padding:5px;
  border-bottom:1px solid #494d4f;
  width:100%;
  padding-left:0;
}
.nav-link{
  text-decoration:none;
  font-size:12px;
  font-style:normal;
  margin-left:0;
  padding-left:0;
}
.nav-link:hover{
  cursor:pointer;
  color:#17a7ea;
}
.nav-link:active{
  color:#5cc63b;
}
.nav-link:visited{
  color:#191935;
}
#main-doc{
  float:right;
  width:65%;
  border-left:2px solid #5f7077;
  padding-left:10px;

}
#main-doc header{
  font-weight:bold;
  font-size:20px;
  color:#000;
}
#main-doc p , ul >li{
  color:#494d4f;
}
/*
@media(min-width:300px){
  body{
    display:flex;
    flex-direction:column;    justify-content:space-evenly;
    flex-wrap:wrap;
  }
}*/